{% extends "CarbonApiBundle::layout/base.html.twig" %}

{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}

    <div style="background: #f0f0f0; border: solid 1px #f0f0f0; padding: 15px;">

        <div style="background: white; border: solid 1px #f0f0f0;">

            <p class="important">
                Update stuff
            </p>

            <br>
            <br>

        </div>


    </div>

{% endblock %}
