{% trans_default_domain 'FOSUserBundle' %}
{% block body_text %}
    <p>Hello {{user.username}}</p>
    <p>To reset your password - please visit {{confirmationUrl}}</p>
{% endblock %}
{% block body_html %}{% endblock %}
